{% extends "base.html" %}

{% block pagecss %}banner{% endblock %}

{% block content %}
<div id="banner">&nbsp;</div>
<div class="section">
	<h1 class="title">Get started now</h1>
	<div class="entry">
		<form method="post" action="">
			<fieldset>
				<ul>
					<li>
						<label for="">Enter your Username</label>
						<input type="text" id="" name="" />
						<div class="tooltip-bubble">
							<div class="field-error">Error...I say error. Go 'way now.</div>
							<div class="tooltip-pointer-down">
								<div class="tooltip-pointer-down-overlay"></div>
							</div>
						</div>
					</li>
					<li>
						<label for="">Enter your Password</label>
						<input type="password" id="" name="" />
					</li>
					<li>
						<input type="submit" value="Go Through" />
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
	<div class="meta"></div>
</div>
{% endblock %}