{% extends "base.html" %}
{% load accounts form_tags %}

{% block title %}Customers{% endblock %}

{% block content %}
<div class="section">
    <div class="entry">
        <form method="get" action="">
            <div id="search" class="clearfix">
                <label for="q">Enter a customer's phone number</label>
                <input type="text" name="q" />
                <input type="image" src="{{ STATIC_URL }}images/find.png" title="Find Customer" />
                <a href="{% url customers_add_customer %}">Add a Customer</a>
            </div>
        </form>
    </div>
    {% if customer %}
    <div class="entry">
        <h2>
            {{ customer.msisdn|format_phone_number }}
        </h2>
        {% with customer.services.all as services %}
        <p>
            {% if services %}Subscribed to: {{ services|join:", " }}{% endif %}
        </p>
        {% endwith %}
    </div>
    <div class="meta"></div>
    {% endif %}
</div>
{% endblock %}